<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--    <bean id="alien" class="com.telusko.Alien" scope="prototype">-->
    <bean id="alien" class="com.telusko.Alien">

        <!--        <constructor-arg type="int" value="21"/>-->
        <!--        <constructor-arg type="com.telusko.Laptop" ref="lap1"/>-->

        <!--        <constructor-arg name="age" value="21"/>-->
        <!--        <constructor-arg index="lap" ref="lap1"/>-->

        <constructor-arg index="0" value="21"/>
        <constructor-arg index="1" ref="lap1"/>


        <!--        <property name="lap" ref="lap1"/>-->

    </bean>


    <bean id="lap1" class="com.telusko.Laptop">
    </bean>
</beans>






